* {
    margin: 0;
    padding: 0;
}

body {
    background-color: purple;
}

.barra {
    background-color: whitesmoke;
    justify-content: space-between;
    box-shadow: 0 2px 5px black;
    align-items: center;
    flex-flow: row wrap;
    position: fixed;
    display: flex;
    padding: 10px;
    width: 100vw;
    left: 0;
    top: 0;
}

.menu {
    padding-right: 15px;
}

.menu>li {
    display: inline;
}

.menu>li>a {
    color: black;
    font-weight: 700;
    text-decoration: underline purple 2px;
}

.menu>li>a:hover {
    color: purple;
}

.desarrollo {
    background-color: whitesmoke;
    margin-top: 80px;
    display: flex;
    height: 100vh;
}

article {
    border-right: 3px solid purple;
    padding: 10px;
}

.first-a {
    flex: 3;
}

.second-a {
    flex: 1;
}

footer {
    height: 23px;
    padding-top: 5px;
    margin-top: 10px;
    background-color: whitesmoke;
    box-shadow: 0 -2px 5px black;
}